.alert-box {
  min-width: 280px;
  box-sizing: border-box;
  position: fixed;
  border-radius: 10px;
  left: 50%;
  bottom: 0;
  padding: 15px;
  font-size: 14px;
  transform: translateX(-50%, -50%);
  transition: opacity .3s,transform .4s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  // border: 1px solid #ebeef5;
}

.alert-opened {
  display: block;
}
.alert-closed {
  display: none;
}
.alert-theme-success {
  background-color: #f0f9eb;
  border-color: #e1f3d8;
  color: #67c23a;
}
.alert-theme-danger {
  background-color: #FF5252;
  color: #fff;}
