.alert-box {
  min-width: 380px;
  box-sizing: border-box;
  position: fixed;
  border-radius: 0 0 2px 2px;
  left: 50%;
  top: 0;
  padding: 10px 15px;
  font-size: 14px;
  transform: translateX(-50%);
  background-color:rgba(255, 255, 255, 0.97);
  transition: opacity .3s,transform .4s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  // border: 1px solid #ebeef5;
}

.alert-opened {
  display: block;
}
.alert-closed {
  display: none;
}
.alert-theme-success {
  background-color: rgb(112, 228, 116);
  color: #fff;
}
.alert-theme-danger {
  background-color: #FF5252;
  color: #fff;}
