.card-detail-box {
  padding: 20px 60px;
  .card-detail-item {
    width: 600px;
    margin-bottom: 30px;
    display: flex;
    align-items: center; 
    .card-detail-item-label {
      display: inline-flex;
      width: 180px;
      color: #9E9E9E;
      vertical-align: middle;
    }
    .card-detail-item-image {
      display: inline-flex;
      height: 200px;
      img {
        height: 100%;
        cursor: pointer;
      }
    }
    .card-detail-item-text {
      display: inline-flex;
    }
  }
}


